* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 border: 1px solid black; 
}

.main-container{
  margin: 20px;
  padding: 30px 50px;
  background-color: #f3f8fc;

  font-family: 'Bitter', serif;
  color: #0f1b61;
}






/*NAVBAR*/

.logo-container{
  display: inline-block;
  width: 100px;
  height: 50px;
  background-image: url("/assets/images/logo.png");
  background-size: cover;
  background-position: center;
}

nav{
  position:fixed;
  width: 95vw;
}

nav a {
  text-decoration: none;
  color: #0f1b61;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 4px;

  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.blue-bar:hover{    
  box-shadow: inset 110px 0 0 0 #0f1b61;
  color: white;
}

.menu-container:before{
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 26px;
  margin-right: 16px;
  background: #919795;
}






/*FONTS*/

.title{
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
}

.subtitle{
  font-size: 24px;
  font-weight: 400;
}

.paragraph-title{
  font-size: 55px;
  font-weight: 700;
  line-height: 68px;
}

.paragraph{
  font-size: 18px;
  font-weight: 400;
}




/*MAIN*/

main{
  margin-top: 100px;
}


.dot-header__dots .dots {
  height: 100%;
  width: 100%;
}

.dots {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22.9 22.9' style='enable-background:new 0 0 22.9 22.9;' xml:space='preserve'%3E%3Ccircle fill='%23aadcec' class='st0' cx='5.7' cy='5.9' r='3'/%3E%3Ccircle fill='%23aadcec' class='st0' cx='17.2' cy='17.2' r='3'/%3E%3C/svg%3E%0A");
  background-size: 12px;
}

.stripes {
  background-image: url('/assets/images/line.svg');
  background-size: 11px;
  /*opacity: .6;*/
}

.poba{
  background-color: green;
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 5px 5px;
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

