* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /*border: 1px solid black; */
}

.main-container{
  margin: 20px;
  padding: 30px 50px;
  background-color: #f3f8fc;
}






/*NAVBAR*/

.logo-container{
  display: inline-block;
  width: 100px;
  height: 50px;
  background-image: url("/assets/images/logo.png");
  background-size: cover;
  background-position: center;
}

nav a {
  text-decoration: none;
  color: #0f1b61;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 4px;

  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover:not(.logo-container){    
  box-shadow: inset 110px 0 0 0 #0f1b61;
  color: white;
}

.menu-container:before{
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 26px;
  margin-right: 16px;
  background: #919795;
}






/*MAIN*/

.title{
  font-family: 'Bitter', serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
  color: #0f1b61;
}

.subtitle{
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: 400;
  color: #0f1b61;
}


.dot-header__dots .dots {
  height: 100%;
  width: 100%;
}

.dots {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22.9 22.9' style='enable-background:new 0 0 22.9 22.9;' xml:space='preserve'%3E%3Ccircle fill='%23aadcec' class='st0' cx='5.7' cy='5.9' r='3'/%3E%3Ccircle fill='%23aadcec' class='st0' cx='17.2' cy='17.2' r='3'/%3E%3C/svg%3E%0A");
  background-size: 12px;
}

.poba{
  background-color: green;
}