* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* border: 1px solid black; */
}

.main-container{
  margin: 20px;
  padding: 30px 50px;
  background-color: #f3f8fc;
}

.logo-container{
  display: inline-block;
  min-width: 100px;
  height: 50px;
  background-image: url("/assets/images/logo.png");
  background-size: cover;
  background-position: center;
}

nav a {
  text-decoration: none;
  color: #0f1b61;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;

  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover:not(.logo-container){    
  box-shadow: inset 100px 0 0 0 #0f1b61;
  color: white;
}

.menu-container:before{
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 26px;
  margin-right: 16px;
  background: #919795;
}

.treca{
  background-color: green;
}